<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    <h2>A galera de Back-end é extra.</h2>
    {% block body %}

    {% endblock %}

</body>
</html>