{% extends 'base.html' %}

{% block title %}Página de Cadastro{% endblock %}

{% block body%}

    <h1>Cadastrar Super Hérois</h1>

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Salvar</button>
        </form>
        <button type="button"><a href="{% url 'list' %}">voltar</a></button>
{% endblock %}
