{% extends 'base.html' %}

{% block title %}Página de Exclusão{% endblock %}

{% block body%}
    <h1>Excluir Super Hérois</h1>
    <h2>Deseja excluir o : {{nome.nome}}</h2>
    <form method="POST">
        {% csrf_token %}
        <button>Sim</button>
        <a href="{% url 'list' %}">Não</a>
    </form>

{% endblock %}
