{% extends 'base.html' %}

{% block title %}Lista{% endblock %}

{% block body%}
    <h1>Lista Secreta de  Super Hérois</h1>

    {% for superHero in nome %}
    <ul>
        <!-- <li>{{superHero.id}}</li> -->
        <li>{{superHero.nome}}</li>
        <li>{{superHero.first_appear}}</li>
        <li>{{superHero.secret_id}}</li>
        <li><a href="{% url 'delete' superHero.id %}">Excluir</a></li>
        <li><a href="{% url 'update' superHero.id %}">Atualizar</a></li>
    </ul>
    {%endfor%}
    <a href="{% url 'create' %}">Cadastrar</a>
{% endblock %}
