{% extends 'base.html' %}

{% block title %}Atualização{% endblock %}

{% block body%}

    <h2>Pagina de Atualização</h2>

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Salvar</button>
            </form>
            <button type="button"><a href="{% url 'list' %}">voltar</a></button>
{% endblock %}
